/* styles.css */
html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0vw;
  height: 80vh;
}
